@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Sriracha&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Libre Baskerville', serif;
    
}

body {
    background-color: #aa2d2dda;
}

#principal {
    padding-top: 180px;
    width: 400px;
    margin: auto;
    
}

h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    color: aliceblue;
    text-shadow: 2px 2px #2601018e;
}

p {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2px 2px #2601018e;
}

#botao {
   text-align: center;
   color: white;
}

a {
    padding: 3px;
    color: aliceblue;
    background-color: #260101;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9em;
}